<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>DuanZhu</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="left" class="left">
            {% block left %}
                <!-- Left block remains the same; it contains the tree -->
                {% include "catalogue.html" %}
            {% endblock %}
        </div>

        <div id="main" class="main">
            {% block main %}
                <!-- Main content is updated dynamically -->
            {% endblock %}
        </div>
    </div>
    {% block footer %}
    <!-- Footer content -->
    {% endblock %}
</body>
</html>
