<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>DuanZhu</title>
    <!-- Load CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/jstree/themes/default/style.min.css' %}">

    <!-- Load JavaScript files -->
    <script src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/jstree/jstree.min.js' %}"></script>
</head>
<body>
    <div id="wrapper" class="container">
        <div id="left" class="left">
            <h2>目录</h2>
            {% block left %}
                <!-- Left block remains the same; it contains the tree -->
                {% include "catalogue.html" %}
            {% endblock %}
        </div>

        <div id="main" class="main">
            {% block main %}
                <!-- Main content is updated dynamically -->
            {% endblock %}
        </div>
    </div>
    {% block footer %}
    <!-- Footer content -->
    {% endblock %}
</body>
</html>
