{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：构意的实例</h3>
          {% for gouyi in models %}
          <div id="{{gouyi.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{gouyi.duanzhu.juan}}-{{gouyi.duanzhu.bushou}}</div>
                  <div class="character">{{gouyi.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{gouyi.duanzhu.zhengwen_zhushi | safe}}
              </div>

          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>构意是指构件在构字时所体现的理据信息。随着历史的发展,一个构件所承担的构意存在泛化现象。构件构意泛化指构件由本用构意发展到表示与本用构意相似相关的其他构意的过程。</p>
          <h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1]卜师霞. 形声字义符构意的类型[J]. 民俗典籍文字研究, 2019(2): 147-157+275.</li>
               <li class="research-item">[2]冯胜利, 彭展赐. 《说文段注》对汉字构形之“意”的阐释与发展[J/OL]. 古汉语研究, 2024(3): 43-61, 126-127. DOI:10.19888/j.issn.1001-5442.2024.03.003.</li>
               <li class="research-item">[3]齐元涛, 符渝. 构件构意泛化与《说文》训释[J]. 民俗典籍文字研究, 2020(1): 36-42, 294.</li>
          </ul>
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('28');
            //$('#tree-container').jstree(true).select_node('28', false);
        });

        $("a.page_link").click(function () {
            location.href = '/gouyi/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/gouyi/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/gouyi/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}