{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：古今字的实例</h3>
          {% for gujinzi in models %}
          <div id="{{gujinzi.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{gujinzi.duanzhu.juan}}-{{gujinzi.duanzhu.bushou}}</div>
                  <div class="character">{{gujinzi.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{gujinzi.duanzhu.zhengwen_zhushi | safe}}
                  {% if gujinzi.duanzhu1 and gujinzi.guzi_id != gujinzi.duanzhu_bianhao %}
                      <div class="example-meta">
                          <div class="meta-content">
                              <div class="meta-character">{{gujinzi.duanzhu1.zitou}}</div>
                              <div class="meta-text">{{gujinzi.duanzhu1.zhengwen_zhushi | safe}}</div>
                          </div>
                      </div>
                  {% endif %}
                  {% if gujinzi.duanzhu2 and gujinzi.jinzi_id != gujinzi.duanzhu_bianhao %}
                      <div class="example-meta">
                          <div class="meta-content">
                              <div class="meta-character">{{gujinzi.duanzhu2.zitou}}</div>
                              <div class="meta-text">{{gujinzi.duanzhu2.zhengwen_zhushi | safe}}</div>
                          </div>
                      </div>
                  {% endif %}
              </div>
          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>古代汉语中不同时代记录同一个词时所用字的不同，前一个时代所用的字称为古字，后一个时代所用的字称为今字。</p>
          <h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1] 馬建民, 徐正考. 《説文解字注》古今字立體化研究及其他——以數量統計爲基礎[J]. 汉语史学报, 2022(2): 340-356.</li>
               <li class="research-item">[2] 殷晟. 《说文解字》段注古今字、正俗字研究[J/OL]. 南京理工大学学报（社会科学版）, 2025, 38(1): 71-77, 88. DOI:10.19847/j.ISSN1008-2646.2025.01.010.</li>
               <li class="research-item">[3] 刘琳. 古今字学术史丛书 段玉裁说文解字注古今字研究[M]. 北京: 社会科学文献出版社, 2023.</li>
               <li class="research-item">[4] 陆燕婷. 《说文解字注》历史演变观述考--基于“古今字”“古今语”“古今义”的研究[D/OL]. 浙江大学, 2019[2025-02-23]. https://d.wanfangdata.com.cn/thesis/Y3595327.</li>
          </ul>
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('26');
            //$('#tree-container').jstree(true).select_node('26', false);
        });

        $("a.page_link").click(function () {
            location.href = '/gujinzi/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/gujinzi/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/gujinzi/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}