{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：古音的实例</h3>
          {% for guyin in models %}
          <div id="{{guyin.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{guyin.duanzhu.juan}}-{{guyin.duanzhu.bushou}}</div>
                  <div class="character">{{guyin.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{guyin.duanzhu.zhengwen_zhushi | safe}}
              </div>

          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>又名“古本音”，与“音转”相对的一个概念。标注“古音在某部”,意味着该字反切仅适合中古音,并不适合上古音。音随时代迁移,段氏为每个字标注的是上古音韵部,或与中古读音异。戴震也在《答段若膺论韵》中也提及“古本音不同今韵”。反切下字与被切字在中古音中的归韵与上古音中的归部不一致所以需要在反切读音之后特别指出其“古音”的归部。如隶部“隶,及也。”段注:“徒耐切,古音在十五部。”按“徒耐切”在《广韵》是去声十九代韵的读音,按《六书音均表一》,《广韵》十九代韵属上古音第一部,按《六书音均表二》,反切下字“耐”为“而声”,也在第一部,而“隶声”在古音十五部。二者归部矛盾,因此段注要特别标明“隶”字上古音在十五部。</p>
          <h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1] 孙珊. 段玉裁《说文解字注》“古音在某部”的解析[J]. 牡丹江大学学报, 2022, 31(3): 14-20.</li>
               <li class="research-item">[2] 李艳辉. 段玉裁《说文解字注》“古音在某部”研究[D]. 陕西理工大学, 2019.</li>
          </ul>
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('72');
            //$('#tree-container').jstree(true).select_node('72', false);
        });

        $("a.page_link").click(function () {
            location.href = '/guyin/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/guyin/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/guyin/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}