{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：今音的实例</h3>
          {% for jinyin in models %}
          <div id="{{jinyin.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{jinyin.duanzhu.juan}}-{{jinyin.duanzhu.bushou}}</div>
                  <div class="character">{{jinyin.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{jinyin.duanzhu.zhengwen_zhushi | safe}}
              </div>

          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>以《广韵》为代表的中古汉语音。</p>
          <!--<h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1] 蒋冀骋. 说文段注改篆评议[M]. 长沙: 湖南教育出版社, 1993].</li>
               <li class="research-item">[2] 刘冬慧. 段玉裁《说文解字注》所论讹字研究[D]. 西南大学, 2009.</li>
          </ul>-->
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('73');
            //$('#tree-container').jstree(true).select_node('73', false);
        });

        $("a.page_link").click(function () {
            location.href = '/jinyin/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/jinyin/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/jinyin/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}