{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：联绵词的实例</h3>
          {% for lianmianci in models %}
          <div id="{{lianmianci.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{lianmianci.duanzhu.juan}}-{{lianmianci.duanzhu.bushou}}</div>
                  <div class="character">{{lianmianci.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{lianmianci.duanzhu.zhengwen_zhushi | safe}}
                  <div class="lmccx">联绵词词形：{{lianmianci.lianmianci}}</div>
              </div>

          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>一般由两个字构成一个词，而这两个字只有联缀在一起才能表达意义，如果把它们拆开来后就各有自己的意义，或没有意义。段氏也会用累呼和单呼来描述联绵词。累呼是指用两个汉字来表示连绵词。单呼是替代双音节连绵词的单音形式。</p>
          <h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1]郭珑. 段玉裁对《说文解字》连绵词训释所作校补考[J]. 兰州大学学报, 2005(5): 67-72.</li>
               <li class="research-item">[2]苏晓君. 《说文解字注》联绵词研究[D]. 北京: 北京师范大学, 2019.</li>
               <li class="research-item">[3]张道俊. 段玉裁的联绵词理论[J]. 湖北社会科学, 2014(2): 114-118. </li>
              <li class="research-item">[4]赵铮. 从《说文解字注》看段玉裁的连绵词观[J]. 湖北大学学报（哲学社会科学版）, 2003(5): 85-88.</li>

          </ul>
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('43');
            //$('#tree-container').jstree(true).select_node('43', false);
        });

        $("a.page_link").click(function () {
            location.href = '/lianmianci/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/lianmianci/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/lianmianci/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}