{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：俗字的实例</h3>
          {% for suzi in models %}
          <div id="{{suzi.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{suzi.duanzhu.juan}}-{{suzi.duanzhu.bushou}}</div>
                  <div class="character">{{suzi.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{suzi.duanzhu.zhengwen_zhushi | safe}}
              </div>

          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>汉字的通俗字体。与“正字”相对。一般在民间流行。俗字可以是简体字，也可以是繁体字；可以是后起字，也可以是古体字。就具体的单字来说，正字和俗字的关系会随时代的变化而变化。例如“躬”在《说文解字》中是俗字，但汉代以后，“躬”成了唯一的正字。对于俗字的研究，过去一直比较欠缺。20世纪以来，随着大批敦煌写卷文书逐渐公布，出土墓志碑铭也日见增多，现在，俗字的研究已成为汉字学研究的一个分支。</p>
          <h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1]刘洋. 《说文段注》俗字类型考略[J/OL]. 殷都学刊, 2000(3): 94-96. DOI:10.16140/j.cnki.ydxk.2000.03.023.</li>
               <li class="research-item">[2]殷晟. 《说文解字》段注古今字、正俗字研究[J/OL]. 南京理工大学学报（社会科学版）, 2025, 38(1): 71-77, 88. DOI:10.19847/j.ISSN1008-2646.2025.01.010.</li>
              <li class="research-item">[3]马寿龄述. 说文段注撰要 1-5册[M/OL]. 北京: 中华书局, 1985.</li>
              <li class="research-item">[4] 马伟成. 論段玉裁《說文解字注》言「俗作某」之字例([J]. 兴大中文学报, [2025].</li>
              <li class="research-item">[5] 蔡信發. 段注《說文》論列俗字滋生之因[J]. (23): 79-100.[6] 李占平. 段注俗字研究[D/OL]. 陕西师范大学, 2002.</li>
          </ul>
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('24');
            //$('#tree-container').jstree(true).select_node('24', false);
        });

        $("a.page_link").click(function () {
            location.href = '/suzi/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/suzi/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/suzi/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}