{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：异文的实例</h3>
          {% for yiwen in models %}
          <div id="{{yiwen.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{yiwen.duanzhu.juan}}-{{yiwen.duanzhu.bushou}}</div>
                  <div class="character">{{yiwen.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{yiwen.duanzhu.zhengwen_zhushi | safe}}
              </div>

          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>指某书现存各种版本的写法。</p>
          <h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1] 蒋冀骋. 《说文段注》改篆简论[J]. 古汉语研究, 1992(2): 74-84, 86.</li>
               <li class="research-item">[2] 漆永祥. 段玉裁校勘学述论[J]. 古籍整理研究学刊, 1993(6): 28-32.</li>
              <li class="research-item">[3] 鲁一帆. 段玉裁校勘实践中的辩证思维观[J]. 河北学刊, 2012, 32(4): 214-216.</li>
              <li class="research-item">[4] 李憧, 胡俊俊. 《说文解字注·豕部》校勘述略[J]. 西南科技大学学报（哲学社会科学版）, 2009, 26(6): 105-108.</li>
              <li class="research-item">[5] 李晓明. 《说文解字注》与段玉裁之校勘学[D/OL]. 内蒙古师范大学, 2012.</li>
              <li class="research-item">[6] 刘秀华. 论段玉裁对《说文》的勘误成就[D/OL]. 曲阜师范大学, 2008.</li>
              <li class="research-item">[7] 张莹莹. 段玉裁《说文解字注》校勘群书研究[D/OL]. 河北大学, 2022.</li>
              <li class="research-item">[8]黃淑汝〈段玉裁《說文解字注》「淺人說」探析〉，國立成功大學碩士學位論文（指導教授：李添富），2001年</li>
          </ul>
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('78');
            //$('#tree-container').jstree(true).select_node('78', false);
        });

        $("a.page_link").click(function () {
            location.href = '/yiwen/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/yiwen/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/yiwen/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}