{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：犹的实例</h3>
          {% for you in models %}
          <div id="{{you.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{you.duanzhu.juan}}-{{you.duanzhu.bushou}}</div>
                  <div class="character">{{you.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{you.duanzhu.zhengwen_zhushi | safe}}
              </div>

          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>揭示词义的古今变化。</p>
          <h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1] 王虎, 李星磊. 《说文解字注》训诂术语“犹”字浅析[J/OL]. 衡阳师范学院学报, 2019, 40(1): 153-156. DOI:10.13914/j.cnki.cn43-1453/z.2019.01.023.</li>
               <li class="research-item">[2] 隗宁. 从《文选注》与《说文段注》看训诂术语“犹”的用法[D/OL]. 吉首大学, 2013[2025-03-31]. https://kns.cnki.net/KCMS/detail/detail.aspx?dbcode=CMFD&dbname=CMFD201301&filename=1012648976.nh.</li>
              <li class="research-item">[3] 李星磊. 《说文解字注》训诂术语“犹”研究[D]. 辽宁师范大学, 2021.</li>
          </ul>
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('27');
            //$('#tree-container').jstree(true).select_node('27', false);
        });

        $("a.page_link").click(function () {
            location.href = '/you/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/you/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/you/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}