<!-- This will replace the #main block dynamically -->
{% if not zitou %}
<div class="nozitou">请选择左侧目录中的字头进行查看</div>
{% endif %}
{% if zitou %}
<div class="zitou_left">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="text-align: left;">
            {% if prev_zitou %}
                <button class="navigate-btn" onclick="loadZitou('{{ prev_zitou.id }}')">🡨 {{ prev_zitou.zitou }}</button>
            {% endif %}
        </div>
        {% if zitou %}
        <div>{{ zitou.juan }}　|　{{ zitou.bushou }}部</div>
        {% endif %}
        <div style="text-align: right;">
            {% if next_zitou %}
                <button class="navigate-btn" onclick="loadZitou('{{ next_zitou.id }}')">{{ next_zitou.zitou }} 🡪</button>
            {% endif %}
        </div>
    </div>
    <div>

        {% if zitou %}
        <div class="zitou_hz"style="display:flex">
            <h1>{{ zitou.zitou }} {% if zitou.chongwen %}<span>[{{zitou.chongwen}}]{% endif %}</span></h1>
            {% if zitou.img_path %}
            <div class="zt_swxz"><img src="/static/字头/{{zitou.img_path}}" /></div>
            {% endif %}
        </div>
        <div class="flex swbt">
            <h2>段玉裁《說文解字注》</h2>
            <a id="btn1" class="btn"><i class="fa fa-image">&nbsp;查看原书</i></a>
            <div id="dzimg" style="display:none">
                <img data-original="/static/段注/-李添富段注-_{{zitou.yema}}.jpg" src="" />
            </div>
        </div>
        <div class="zhengwen_zhushi">{{ zitou.zhengwen_zhushi|safe }}</div>
        {% endif %}

        {% if swdu %}
        <div class="flex swbt">
            <h2>段玉裁《說文解字读》</h2>
            <a id="btn2" class="btn"><i class="fa fa-image">&nbsp;查看原书</i></a>
            <div id="ddimg" style="display:none">
                <img data-original="/static/说文读/SWJZD-0{{swdu.du_bianhao|slice:3}}.jpg" src="" />
            </div>
        </div>
        <div class="zhengwen_zhushi">{{ swdu.zhushi|safe }}</div>
        {% endif %}
    </div>
</div>
<div class="zstag">
    <div class="zstag_title">
        <h3>知识标签</h3>
        <a class="btn" href="/yinyitong">了解更多&nbsp;<i class="fa fa-external-link"></i></a>
    </div>
    <div class="zstag-buttons">
        <!--<button id="wztag" class="zstagBtn zstagBtn-blue" onclick="loadZsTag('{{ zitou.id }}','wz')">文字</button>
        <button id="yytag" class="zstagBtn zstagBtn-green" onclick="loadZsTag('{{ zitou.id }}','yy')">音韵</button>
        <button id="xgtag" class="zstagBtn zstagBtn-yellow" onclick="loadZsTag('{{ zitou.id }}','xg')">训诂</button>
        <button id="xktag" class="zstagBtn zstagBtn-red" onclick="loadZsTag('{{ zitou.id }}','xk')">校勘</button>
        <button id="ystag" class="zstagBtn zstagBtn-purple" onclick="loadZsTag('{{ zitou.id }}','ys')">引书</button>-->
        <button id="wztag" class="zstagBtn" onclick="loadZsTag('{{ zitou.id }}','wz')">文字</button>
        <button id="yytag" class="zstagBtn" onclick="loadZsTag('{{ zitou.id }}','yy')">音韵</button>
        <button id="xgtag" class="zstagBtn" onclick="loadZsTag('{{ zitou.id }}','xg')">训诂</button>
        <button id="xktag" class="zstagBtn" onclick="loadZsTag('{{ zitou.id }}','xk')">校勘</button>
        <button id="ystag" class="zstagBtn" onclick="loadZsTag('{{ zitou.id }}','ys')">引书</button>
    </div>
    <div id="zscontent" class="zscontent">
        <p>请选择上方的知识标签查看详细内容</p>
    </div>
    <input type="hidden" id="zstag" value="" />
</div>
<script>
    var viewer = new Viewer(document.getElementById('dzimg'), {
        url: 'data-original',
        toolbar:true,
        navbar:false,
        fullscreen:true,
        transition:false
    });
    document.getElementById('btn1').onclick = function() {
        viewer.show();
    }
    {% if swdu %}
    var viewer2 = new Viewer(document.getElementById('ddimg'), {
        url: 'data-original',
        toolbar:true,
        navbar:false,
        fullscreen:true
    });
    document.getElementById('btn2').onclick = function() {
        viewer2.show();
    }
    {% endif %}
</script>
{% endif %}
<script>
function loadZitou(zitouId) {
    const zstag = $("#zstag").val();
    $('#main').load('/zitou/' + zitouId + '/', function(response, status, xhr) {
        if (status === "error") {
            console.error("Error loading content:", xhr.statusText);
            alert("Error loading content.");
        }
        $(".zstag").show();
        if(zstag){
            loadZsTag(zitouId,zstag);
            $("#zstag").val(zstag);
        }else{
            loadZsTag(zitouId,'xg');
            $("#zstag").val('xg');
        }
    });
}

function loadZsTag(zitouId,tag) {
    $("#zstag").val(tag);
    if(zitouId){
        $('#zscontent').load('/zsTag/' + zitouId + '/tag/' + tag + '/', function(response, status, xhr) {
            if (status === "error") {
                console.error("Error loading content:", xhr.statusText);
                alert("Error loading content.");
            }
        });
    }
    $(".zstagBtn").removeClass("active");
    $("#"+tag+"tag").addClass("active");
}

$(document).ready(function() {
    $('div.zhengwen_zhushi').each(function(){
        var originalHTML = $(this).html();
        var newHTML = originalHTML.replace(/<p(\d+)>/g, '<p class="origin-script">');
        newHTML = newHTML.replace(/<z(\d+)>/g, '<div class="border-gray-200">');
        newHTML = newHTML.replace(/<\/p(\d+)>/g, '</p>');
        newHTML = newHTML.replace(/<\/z(\d+)>/g, '</div>');
        $(this).html(newHTML);
    });

});

</script>
