{% extends "../base.html" %}
{% block container %}
     <div class="zsd_left">
          <h3>知识点目录</h3>
          {% include "manuscript/zsd_catalogue.html" %}
     </div>
     <div class="zsd_middle">
          <h3>知识点实例：最近的实例</h3>
          {% for zuijin in models %}
          <div id="{{zuijin.id}}" class="yyt-item">
              <div class="character-section">
                  <div class="character-info">{{zuijin.duanzhu.juan}}-{{zuijin.duanzhu.bushou}}</div>
                  <div class="character">{{zuijin.duanzhu.zitou}}</div>
              </div>
              <div class="yyt-content">
                  {{zuijin.duanzhu.zhengwen_zhushi | safe}}
              </div>

          </div>
          {% endfor %}

          <div class="yyt_page">
              <div class="pagination">
                  <input id="pageInput" type="hidden" name="page" value="{{ models.number }}"/>
                  <span class="step-links">
                      {% if models.has_previous %}
                          <a href="#" class="page_link" data-page="1">&laquo; 首页</a>
                          <a href="#" class="page_link" data-page="{{ models.previous_page_number }}">上一页</a>
                      {% endif %}

                      <span class="current">
                           {{ models.number }} / {{ models.paginator.num_pages }}
                      </span>

                      {% if models.has_next %}
                          <a href="#" class="page_link" data-page="{{ models.next_page_number }}">下一页</a>
                          <a href="#" class="page_link" data-page="{{ models.paginator.num_pages }}">末页 &raquo;</a>
                      {% endif %}
                      总计：{{ models.paginator.count }}条　　
                      <a href="#" id="toPageGo">跳至</a>
                      第<input id="toPageInput" type="number" style="width: 60px; font-size: large;" name="page_to" value="{{ models.number }}"/>页
                  </span>
              </div>
          </div>
     </div>
     <div class="zsd_right">
          <h3>知识点说明</h3>
          <p>合韵或音转的两个韵部的音韵距离近。</p>
          <h4>相关研究：</h4>
          <ul class="research-list">
               <li class="research-item">[1] 黄冉. 段玉裁古音学中的“音变”说[J/OL]. 红河学院学报, 2016, 14(6): 67-70. </li>
               <li class="research-item">[2] 孙玉文. 音有正变:音之敛侈必适中——读段玉裁《六书音韵表》札记之一[J/OL]. 湖北大学学报（哲学社会科学版）, 1990(5): 101-105.</li>
          </ul>
     </div>
    <script>
    $(document).ready(function(){
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var paramValue = urlParams.get('id');
        console.log(paramValue);
        if(paramValue){
            var element = document.getElementById(paramValue);
            window.scrollTo({
              top: element.offsetTop,
              behavior: 'smooth'  // 可选，使滚动平滑进行
            });
        }

        $('#tree-container').on('loaded.jstree',function(e,data){
            $('#tree-container').jstree(false).select_node('76');
            //$('#tree-container').jstree(true).select_node('76', false);
        });

        $("a.page_link").click(function () {
            location.href = '/zuijin/?page='+$(this).data("page")
        });
        $("#toPageGo").click(function () {
            location.href = '/zuijin/?page='+$("#toPageInput").val()
        });
        $("#toPageInput").keypress(function(e){
            if(e.keyCode == 13){
                location.href = '/zuijin/?page='+$(this).val()
                return false;
            }
        });
    });
</script>
{% endblock %}