<?xml version="1.0" encoding="UTF-8"?>     
<configuration>         
<system.webServer>             
<handlers>                 
  <add name="Python FastCGI"                       
    path="*"                       
    verb="*"                       
    modules="FastCgiModule"                       
    scriptProcessor="C:\Python\Python313\python.exe|C:\Python\Python313\Lib\site-packages\wfastcgi.py"                       
    resourceType="Unspecified"                       
    requireAccess="Script"/>             
</handlers>         
</system.webServer>         
<appSettings>             
<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />             
<add key="PYTHONPATH" value="D:\duanzhu_proj" />             
<add key="DJANGO_SETTINGS_MODULE" value="duanzhu_proj.settings" />         
</appSettings>     
</configuration>